@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hero-bg {
    color: lightgray;
    text-align: center;
    padding-bottom: 4em;
}


.navigation{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background:linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
}

li, a,button {
    font-weight: 500;
    font-size: 16px;
    color: rgb(236, 236, 236);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    inline-size: 4.5em;
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.right {
    inline-size: 20em;
}

